@page
@model ContactModel
@{
    ViewData["Title"] = "Personale";
}
<div class="col-lg-12">
<div class="col-lg-1"> </div>
<div class="col-lg-10 center-block contentBackground">
    <h2 class="text-header">@ViewData["Title"]</h2>
    <hr />
    <br />

    @{
        Employee[] staff = AdapterManager.GetEmployees();

        foreach (Employee employee in staff)
        {
            DateTime now = DateTime.UtcNow;
            int age = now.Year - employee.Born.Year;
            if (employee.Born > now.AddYears(-age)) { age--; }
            <div class="row">
                <div class="col-md-3">
                    <img class="profile" src="@employee.ProfileUrl" alt="@employee.Name" style="width:160px;height:250px;" />
                </div>
                <div class="col-md-9 profileText">
                    <h3>@employee.Name</h3>
                    <h3>@age år</h3>
                    <h3>Tlf: @employee.Phone</h3>
                </div>
            </div>
        }
    }
    <br />
    <br />
    <br />

    <address>
        <p><strong>Mail:</strong> <a href="mailto:Kebabvognen@dejligkebab.dk">Kebabvognen@dejligkebab.dk</a></p><br />
    </address>

</div>
</div>
